a {
  color: blue;
  text-decoration: none;
}

abbr[title] {
  text-decoration: none;
  border-bottom: 1px dotted blue;
}

details {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 10px 20px 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 10px;
  position: relative;
}

.grid-item {
  overflow: hidden;
}

.main {
  height: 100vh;
  overflow-x: scroll;
  overflow-y: scroll;
  overflow: scroll;
}

p {
  padding-left: 10px;
}

.split {
  max-width: 50%;
  width: 50%;
  float: left;
  height: 100vh;
  overflow-x: scroll;
  overflow-y: scroll;
  overflow: scroll;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}

th {
  background-color: #BFC9CA;
}
